<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Asul' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Betty and George" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  </head>
  <body>
    <div id="body">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>

